@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Parisienne&display=swap');

/* Variables */
:root{
    --indieFlower: 'Indie Flower', cursive;
    --parisienne: 'Parisienne', cursive;
    --white : #ffffff;
    --primary-light: #AFB49A;
    --primary: #9AA179;
    --primary-dark: #39403A;
}

/* Header styling */
header{
    width: 100%;
    height: 250px;
    background: url(../Images/cakeheader.jpg) no-repeat center top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
header img{
    width: 150px;
    height: 150px;
}
nav{
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-evenly;
}
#active, a:hover{
    color: var(--primary);
    text-shadow: 1px 2px 2px #000000;
    text-decoration: underline;
}
a{
    font-family: var(--parisienne);
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
}

.row{
    margin-top: 10px;
}